#listaPokemons {
    margin-top: 5rem;
}

#filtros {
    display: flex;
    justify-content: space-between;
}

.filtroHabilidades {
    margin-left: 1rem;
}

.formFiltroPokemon > button {
    margin-left: 1rem;
}