<style>
	:host {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		font-size: 14px;
		color: #333;
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 8px 0;
	}

	.toolbar {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 60px;
		display: flex;
		align-items: center;
		background-color: #1976d2;
		color: white;
		font-weight: 600;
		justify-content: space-between;
	}

	.toolbar-title {
		display: flex;
	}

	.toolbar img {
		margin: 0 16px;
	}
</style>

<div class="toolbar" role="banner">
	<div class="toolbar-title">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/601px-Pokebola-pokeball-png-0.png" width="40" alt="pokeball"/>
		<h2> Pokedex </h2>
	</div>
	
	<a href="https://github.com/Augusto-Calisto/pokedex" target="_blank" title="Link do Repositorio">
		<img src="https://upload.wikimedia.org/wikipedia/commons/5/54/GitHub_Logo.png" width="100" alt="github"/>
	</a>
</div>

<router-outlet></router-outlet>

<app-pokemon-list></app-pokemon-list>