.card-pokemon {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    display: inline-flex;
    border: 1px solid rgba(146, 146, 146, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 18rem;
    margin-top: 1rem;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.card-pokemon:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 6px rgba(77, 93, 133, 0.28);
}

.numero-pokemon {
    display: flex;
    justify-content: flex-start;
    width: 95%;
    font-size: large;
}

.numero-pokemon > b {
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.993);
    padding: 10px;
    border-radius: 25px;
}

.water {
    background-color: #3359ec;
    color: #fff;
}

.grass {
    background-color: #21c457;
    color: #fff;
}

.fire {
    background-color: #eb6106;
    color: #fff;
}

.normal {
    background-color: #a7c0b8;
    color: #fff;
}

.poison {
    background-color: #9621c4;
    color: #fff;
}

.bug {
    background-color: #694c0e;
    color: #fff;
}

.fairy {
    background-color: #f39eef;
    color: #fff;
}

.ground {
    background-color: #ce9416;
    color: #fff;
}

.electric {
    background-color: rgb(250, 250, 10);
    color: #000000;
}

.fighting {
    background-color: #6d9499;
    color: #fff;
}

.psychic {
    background-color: #3d0e50;
    color: #fff;
}

.ghost {
    background-color: #310144;
    color: #fff;
}

.rock {
    background-color: #494949;
    color: #fff;
}

.steel {
    background-color: #9c9b9b;
    color: #fff;
}

.ice {
    background-color: #9eebf8;
    color: #fff;
}

.dragon {
    background-color: #4f7468;
    color: #fff;
}

.dark {
    background-color: #000000;
    color: #fff;
}